@mixin g-p-y($var){
    padding-top: $var;
    padding-bottom: $var;
}

@mixin g-p-x($var){
    padding-left: $var;
    padding-right: $var;
}

@mixin g-m-y($var){
    margin-top: $var;
    margin-bottom: $var;
}

@mixin g-m-x($var){
    margin-left: $var;
    margin-right: $var;
}

@mixin g-clearbox{
    padding: 0;
    margin: 0;
    border: none;
}