@mixin g-f-center($stretch: false){
    @if ($stretch == false){
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }@else{
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
           -moz-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }
}

@mixin g-f-row($wrap: false){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    @if ($wrap == false){
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
    }@else{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
}

@mixin g-f-col($wrap: false){
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    @if ($wrap == false){
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
    }@else{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
}

@mixin g-f-make($x, $y, $direction:false, $wrap:false){
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: $x;
    -webkit-justify-content: $x;
       -moz-box-pack: $x;
        -ms-flex-pack: $x;
            justify-content: $x;
    -webkit-box-align: $y;
    -webkit-align-items: $y;
       -moz-box-align: $y;
        -ms-flex-align: $y;
            align-items: $y;
    @if ($direction != false){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: $direction;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: $direction;
                flex-direction: $direction;
    }
    @if ($wrap != false){
        -webkit-flex-wrap: $wrap;
            -ms-flex-wrap: $wrap;
                flex-wrap: $wrap;
    }
}