@mixin g-typeface($size, $weight, $style:false){
    font-size: font-size($size);
    @if($weight == black){
        font-weight: 900;
    }@else if($weight == bold){
        font-weight: 700;
    }@else if($weight == semi-bold){
        font-weight: 600;
    }@else if($weight == medium){
        font-weight: 500;
    }@else if($weight == regular){
        font-weight: 400;
    }@else if($weight == light){
        font-weight: 300;
    }@else if($weight == thin){
        font-weight: 200;
    }@else if($weight == ultrathin){
        font-weight: 100;
    }@else{
        font-weight: $weight;
    }
    @if($style != false){
        font-style: $style;
    }
}