@function meColor($var){
    @if ( map-has-key($color, $var) ){
        @return map-get($color, $var );
    }@else{
        @error "Użyłeś błednego koloru. #{$var}";
    }
}

@function responsive-width($var){
    $temp: map-get($project, width);
    @return $var/$temp;
}


@function responsive-height($var){
    $temp: map-get($project, height);
    @return $var/$temp;
}

@function font-size($var, $force: false){
    @if ($force == false){
        @if ($var >= 16){
            @return $var / 16 + rem;
        }
        @else{
            @warn "Zwiększono rozmiar fontów, ze względu na SEO";
            @return 16px;
        }
    }@else{
        @if ($var >= 16){
            @return $var / 16 + rem;
        }
        @else{
            @warn "Stosujesz zbyt małe rozmiary fontów. Twoja strona będzie mieć niski wynik SEO";
            @return $var / 16 + rem;
        }
    }
}